@tailwind base;
@tailwind components;
@tailwind utilities;

div.swiper {
  margin-left: 0;
  margin-right: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c7d2de;
}

html {
  padding: 8px;
}
